<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MNIST Image Classification</title>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body onload="init()">
    <div id="bg"></div>
    <div id="main">
        <div id="logo">MNIST</div>
        <nav>
            <ul>
                <li>Home</li>
                <li>Sketch Artist</li>
                <li>About</li>
                <li>Contact</li>
            </ul>
        </nav>
        <div id="sign-nav">
            <div id="signin">
                Learn More -->
            </div>
            <div id="signup"> -->
                Click Here
            </div>
        </div>

        <div id="main-content">
                <div class="btn" onclick="save()">
                    Press Me
                </div>
                <div class="btn" onclick="window.location.reload();">
                    Restart
                </div>

                <div class="container">
                    
                <div>
                    <canvas id="can" width="449" height="449" style="position:relative;border:2px solid;"></canvas>
                    <!-- <canvas id="can" width="449" height="449" style="position:relative;border:2px solid;"></canvas> -->
            
                    <img id="canvasimg" style="position:relative;" style="display:none;">
                </div>
                <div>

                    <div class="text-center">
                        <font size="20">
                      <div id="result">
                        <p >You write: </p>
                      </div>

                      </font>
      
                      </div>
  
                    </div>
                </div>             
            </div>
        </div>   
    </div>


    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
  
</body>
</html>